
<!DOCTYPE HTML>
<html>
<head>

{% load staticfiles %}

<title>Saunterers: Contact</title>
<link href="{% static "saunterer/css/bootstrap.css" %}" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static "saunterer/js/jquery-1.11.0.min.js" %}"></script>
<!-- Custom Theme files -->
<link href="{% static "saunterer/css/style.css" %}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Tour Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>
<!-- //end-smoth-scrolling -->

</head>
<body>
<!--header start here-->
<div class="header">
   <div class="container">
     <div class="header-main">
	   <div class="logo wow bounceInLeft" data-wow-delay="0.3s">
	     <a href= "{% url "saunterer:index" %}"><img src="{% static "saunterer/images/log.png" %}"  alt=""></a>
	   </div>
	   <div class="top-navg">
			   <span class="menu"> <img src="{% static "saunterer/images/icon.png" %}" alt=""/></span>	
			   <nav class="cl-effect-13">					
				<ul class="res">
					<li><a href="{% url "saunterer:index" %}">Home</a></li>
					<li><a href="{% url "saunterer:about" %}">About</a></li>
					<li><a href="{% url "saunterer:offer" %}">Walks</a></li>
					<li><a href="{% url "blog:blog" %}">Blog</a></li>
					<li><a class="active" href="{% url "saunterer:contact" %}">Contact</a></li>
				</ul>
			  </nav>

			<!-- script-for-menu -->
				 <script>
				   $( "span.menu" ).click(function() {
					 $( "ul.res" ).slideToggle( 300, function() {
					 // Animation complete.
					  });
					 });
				</script>					
	   </div>
	    <div class="clearfix"> </div>
      </div>
    </div>
  </div>
<!--header end here-->
<!--contact -->
<div  class="contact">
	<div class="container">
		 <div class="contact-main">	 
		   <div class="contact-top">
		   	<h1>Reach Us</h1>
		   	<span class="lft-bar-contact"> </span>
		   	<span class="rit-bar-contact"> </span>
		   </div>
		   <div class="contact-bottom">
			 <div class="col-md-6 contact-left wow bounceInLeft" data-wow-delay="0.3s">
                  <!--contact-form-->
				<form>
					<p class="your-para">Your Name :</p>
					<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
					<p class="your-para">Your Mail :</p>
					<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
					<p class="your-para">Your Message :</p>
					<textarea cols="77" rows="6" onfocus="this.value='';" onblur="if (this.value == '') {this.value = '';}"></textarea>
                        <ul class="actions">
							<li><input type="submit" class="style1" value="Send" /></li>							
						</ul>			
				   </form>
		        </div>
				 <div class="col-md-6 contact-info wow bounceInRight" data-wow-delay="0.3s">
				       <h2> Got a question? We are here to answer.</h2>
					   <p> 
If you have any query related to walks or willing to know more about the walks, 
feel free to contact us. We at 'The Saunterers' will be very delighted to hear from you.
The best time to contact for an immediate response is between 9.00 hrs to 20.00 hrs. 
We would get back to you as soon as possible.
Thank you for reaching out.
</p>
						<div class="con-text">
								<h3><i class="icon glyphicon glyphicon-home"></i> Address</h3>
								<address>
									  <p>Saunterers</p>
									  <p>D-75 Sector 27</p>
									  <p>Noida 201301, Uttar Pradesh</p>
									  <p>Ph : +91 86795 40001</p>
									</address>
						</div>					
						  <div class="clearfix"> </div>
					</div>
					   <div class="clearfix"> </div>
		  </div>  
	  </div>
   </div>
</div>
<!--//contact-->
<!--footer start here-->
<div class="map">
  <div class="footer">
	<div class="container">
		<div class="footer-main">
			<div class="col-md-4 ftr-grids  wow bounceIn" data-wow-delay="0.4s">
				<h4>Get in Touch</h4>
				<ul class="get-touch">
				
					<li><span class="email"> </span><a href="mailto:connect@thesaunterers.com">connect@thesaunterers.com</a> </li>
					<!--	<li><span class="phone"> </span>+91 86795 40001</li> -->
				</ul>
			</div>
			<div class="col-md-4 ftr-grids  wow bounceIn" data-wow-delay="0.4s">
				<h4>Follow Us</h4>
				<ul class="mid-grid">
					<li><a href="#"><span class="tw"> </span></a></li>
					<li><a href="#"><span class="gmail"> </span></a> </li>
					<li><a href="#"><span class="inst"> </span></a> </li>
					<li><a href="#"><span class="pri"> </span></a> </li>					
				</ul>
			</div>
			
<!--footer end here-->
<!--

<h1>Contact</h1>
<form role="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
-->

</body>
</html>